/* Font Style  */
*{
    margin: 0;
  font-family: "Work Sans", sans-serif;
}
/* Btn Style  */
.btn-prymary{
    font-size: 20px;
    padding: 12px 16px;
    border-radius: 5px;
    border: 0;
    background-color: #FF900E;
    color: white;
    margin-top: 20px;
}
.btn-prymary:hover{
    background-color: #a45a06;
    color: black;
}
/* Header style  */
header{
    background: #FFF4E7;
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-titel{
    font-size: 2.8rem;
    font-weight: 700;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
}
nav li > a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}
/* Banner Style  */
.banner-container{
    text-align: center;
    max-width: 800px;
    margin: 50px auto;
}
.banner-titel{
    font-size: 4rem;
    font-weight: 700;
}
.banner-discription{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 20px;
}
.banner img{
    width: 100%;
}
/* Main Section Style  */
main{
    max-width: 1024px;
    margin: 0 auto;
}
/* Teams Section Style  */
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.teams-img-container img{
    width: 15.6rem;
}
.teams-text-container{
    padding-left: 70px;
}
.teams-container{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.teams-titel{
    font-size: 2.8rem;
    font-weight: 700px;
}
.span-1{
    color: #727272;
}
.span-2{
    color: #FF900E;
}
.teams-discription{
    font-size: 16px;
    font-weight: 400px;
}
/* Feature Section Style  */
.freature-container{
    display: flex;
    margin-top: 50px;
    align-items: center;
}
.freature-text-container{
    padding-right: 50px;
}
.feature-titel{
    font-size: 2.8rem;
    font-weight: 700;
    border-left: 5px solid #FF900E ;
    padding-left: 30px;
}
.feature-discription{
    font-size: 16px;
    font-weight: 400px;
    margin-top: 20px;
}
.feature-work{
    margin-top: 30px;
}
.feature-work-container{
    background: #FFFFFF;
    padding: 15px;
    margin: 10px;
    box-shadow: 0px 0px 20px rgb(224, 229, 232);;
}
/* .work-titel{
    margin-top: 25px;
} */
.work-description{
    margin-top: 10px;
}
.freature-img-container img{
    width: 500px;
    height: 780px;
}
.btn-prymary2{
    font-size: 2.8rem;
    padding: 25px 30px;
    border-radius: 5px;
    border: 0;
    background-color: #FF900E;
    color: white;
    margin-top: 20px;
    position: relative;
    top: -80px;
    left: -50px;
}
/* Some Fact Section Style  */
.some-fact{
    width: 50%;
    margin-top: 20px;
}
.some-fact-container{
    display: flex;
    
justify-content: space-between;
}
.some-fact-items{
border: 2px solid #FF900E;
padding: 20px 10px;
width: 180px;
height: 150px;
margin: 50px 0;
text-align: center;
border-radius: 5px;
}
.some-fact-titel{
    margin-top: 10px;
    font-size: 2.8rem;
}
.some-fact-discription{
    margin-top: 10px;
    font-size: 20px;
}
/* Responsive web for device  */
/* Mobile Device (Small) Responsive  */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav, 
    .teams-container,
    .freature-container,
    .some-fact-container{
        flex-direction: column;
    }
    nav li{
        margin-top: 20px;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-text-container,
    .freature-text-container{
        padding: 20px 15px;
        text-align: center;
    }
    .freature-img-container img{
        width: 400px;
        height: 600px;
    }
    .btn-prymary2{
        display: none;
    }
    .some-fact{
        width: 100%;
        text-align: center;
    }
    .some-fact-container{
        align-items: center;
        width: 100%;
    }
}
/* Tablet Device (Medium) Responsive */
@media screen and (min-width:577px) and (max-width:960px) {
    header{
        padding: 50px;
    }nav , 
    .teams-container,
    .freature-container,{
        flex-direction: column;
    }
    nav li{
        margin-top: 20px;
    }
    .teams-text-container,
    .freature-text-container{
        padding: 20px 15px;
        text-align: center;
    }
    .btn-prymary2{
        display: none;
    }
    .some-fact{
        padding: 20px;
        width: auto;
        text-align: center;
    }
    .some-fact-container{
        padding: 20px;
    }
}